<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fundacion Van", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Home/Index">Home</a></li>


                    <!--Primer DropDown-->


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Agregar <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Escuelas/Create">Escuela</a></li>
                            <li><a href="/Organizacions/Create">Organización </a></li>
                            <li><a href="/Tutors/Create">Tutor  </a></li>
                            <li><a href="/Becadoes/Create">Becario  </a></li>
                            <li><a href="/Trabajoes/Create">Trabajo de tutor  </a></li>
                        </ul>
                    </li>



                    <!--DropDown Dos-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Consultar <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Becadoes/Index">Becados</a></li>
                            <li><a href="/Tutors/Index">Tutores</a></li>
                            <li><a href="/Pagos1/Index">Pagos</a></li>
                        </ul>

                    </li>

                    <!--DropDown Tres-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Buscar <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Escuelas/Create">Becado</a></li>
                            <li><a href="/Organizacions/Create">Tutor </a></li>
                            <li><a href="/Tutors/Create">Becado por nombre de Tutor </a></li>
                            <li><a href="/Becadoes/Create">Becado por Organizacion  </a></li>
                            <li><a href="/Trabajoes/Create">Becado por Escuela </a></li>
                        </ul>
                    </li>

                    <!--Pagos-->
                    <li><a href="/Pagos/Index">Pagos</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year - ITESM</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>